@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin:0;
  font-family: 'Press Start 2P';
  background-color: #151826;
}
a{
    color:white;
    text-decoration: none;
    line-height:25px;
}

b{
    color:black;
    text-decoration: none;
    line-height:30px;
}

p{
    text-shadow: 5px 5px 2px #04a1e8;
}

button{
    padding: 5% 40%;
    text-align: center;
    justify-content: center;
    font-family: 'Press Start 2P';
    color:#04a1e8;
    border:2px solid #04a1e8;
    border-radius:2px;
    background: transparent;
    transition: 1s;
    font-size: calc(5px + (17 - 16) * (100vw - 400px) / (800 - 400));
}

button:hover{
   padding: 5% 40%;
    font-family: 'Press Start 2P';
    color:white;
    border:2px solid #04a1e8;
    border-radius:2px;
    background:#04a1e8 ;
    font-size: calc( 5px + (17 - 16) * (100vw - 400px) / (800 - 400));
}


/*---------------------------------------------Titulo------------------------------------------------------------------------------------*/

.ContainerTitulo{
    position: relative;
    padding: 0;
    margin:0;
}


.ImagemFundo img{
    position: relative;
    height: 100%;
    width: 100%;
}

.MaskKitsune img{
    position: absolute;
    height: auto;
    width: 5%;
    bottom:auto;
    top: 30%;
    right:48%;

}

.textLink{
    align-items: center;
    text-align:center;
    font-style:italic;
    position: absolute;
    bottom:auto;
    top: 50%;
    right:37%;
    left:auto;
    font-size: calc( 4px + (20 - 16) * (100vw - 400px) / (800 - 400));
}




/*---------------------------------------------Main------------------------------------------------------------------------------------*/

.ContainMain{
    position: relative;
    padding-right: 20vw;
    padding-left: 20vw;
}

.SobreProjeto{
    justify-content:center;
    align-items: center;
    text-align:center;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.SeparadorAtualizacoes img{
    position: relative;
    height: auto;
    width: 50%;
    bottom:auto;
    top: 100%;
    left:23%;
}

.Atualizacao{
    position: relative;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 100%;
    bottom:auto;
    height: auto;
}

.ImagemAtualizacoes img{
    position: absolute;
    height: auto;
    width: 20%;
    right:20%;
    bottom:auto;
    top: 115%;
    
}

.TextoAtualizacoes{
    position: absolute;
    justify-content:flex-start;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    top: 113%;
    width: 34%;
}

.btAtualizacao{
    position:absolute;
    text-align: center;
    top:130%;
    justify-content:flex-start;
    left: 0;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.Historia{
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 250%;
    bottom:auto;
    height: auto;
}

.ImagemHistoria img{
    border-radius:10px;
    position: absolute;
    height: auto;
    width: 70%;
    left:0;
    bottom:auto;
}

.TextoHistoria{
    position: absolute;
    justify-content:flex-start;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    left:80%;
    width: 60%;
    height:auto;
}

.btHistoria{
    position:absolute;
    justify-content:flex-end;
    top:100%;
    right:0;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

.Personagens{
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 380%;
    bottom:auto;
    height: auto;
}

.ImagemPersonagens img{
    position: absolute;
    border-radius:10px;
    height: auto;
    width: 60%;
    left:80%;
    bottom:auto;
}

.TextoPersonagens{
    position: absolute;
    justify-content:flex-start;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    left:0;
    width: 60%;
    height:auto;
}

.btPersonagens{
    position:absolute;
    top:100%;
    left: 0;
}




/*---------------------------------------------------------------------------------------------------------------------------*/
.Mascaras{
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 510%;
    bottom:auto;
    height: auto;
}

.ImagemMascaras img{
    border-radius:10px;
    position: absolute;
    height: auto;
    width: 50%;
    left:0;
    bottom:auto;
}

.TextoMascaras{
    position: absolute;
    justify-content:flex-start;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    left:80%;
    width: 60%;
    height:auto;
}

.btMascaras{
    position:absolute;
    top:100%;
    right: 0;
}

.SeparadorRedesSociais img{
    position: absolute;
    left:34%;
    height: auto;
    width: 30%;
    bottom:auto;
    top: 640%;
}



/*-----------------------------------------------RedesSociais----------------------------------------------------------------------------*/

.RedesSociais{
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 710%;
    bottom:auto;
    height: auto;
}

.Imagemtwitter img{
    top:20%;
    position: absolute;
    height: auto;
    width: 40%;
    bottom:auto;
    left:0%;
}

.ImagemYouTube img{
    top:5%;
    position: absolute;
    height: auto;
    width: 30%;
    bottom:auto;
    left:57%;
}

.ImagemInstagram img{
    top:20%;
    position: absolute;
    height: auto;
    width: 22%;
    bottom:auto;
    left:110%;
}

.SeparadorFimMain img{
    position: absolute;
    left:34%;
    height: auto;
    width: 30%;
    bottom:auto;
    top: 800%;
}

.SeparadorFimMain2 img{
    position: absolute;
    left:34%;
    height: auto;
    width: 30%;
    bottom:auto;
    top: 365%;
}

/*------------------------ PLATAFORMAS ----------------------------------------------------*/

.Plataformas {
  position: absolute;
  padding-right: 20vw;
  padding-left: 20vw;
  top: 900%;
  bottom:auto;
  height: auto;
}

.xbox img{
    top:20%;
    position: absolute;
    height: auto;
    width: 30%;
    bottom:auto;
    left:8%;
}


.playstation img{
    top:5%;
    position: absolute;
    height: auto;
    width: 30%;
    bottom:auto;
    left:57%;
}

.steam img{
    top:20%;
    position: absolute;
    height: auto;
    width: 33%;
    bottom:auto;
    left:105%;
}


/*-----------------------------------------------rodape----------------------------------------------------------------------------*/

.SeparadorFimMain3 img{
    position: absolute;
    left:34%;
    height: auto;
    width: 30%;
    bottom:auto;
    top: 995%;
}


.containFim{
    top:1100%;
    right: 43%;
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
}

.GustavoDesenvolvedores img{
    border-radius:50px;
    top:0;
    position: absolute;
    height: auto;
    width: 15%;
    bottom:auto;
    left:0;
}

.TextGustavoDesenvolvedores{
    position: absolute;
    font-size: calc( 2px + (17 - 16) * (100vw - 400px) / (800 - 400));
    height: auto;
    width: 60%;
    top: 110%;
    left:20%;
}

.MatheusDesenvolvedores img{
    border-radius:50px;
    top:0;
    position: absolute;
    height: auto;
    width: 15%;
    bottom:auto;
    right:0;
    
}

.TextMatheusDesenvolvedores{
    top:110%;
    position: absolute;
    font-size: calc( 2px + (17 - 16) * (100vw - 400px) / (800 - 400));
    left:105%;
    width: 60%;

}


.containFimbackground img{
    margin:0;
    padding:0;
    position: absolute;
    left:0;
    top:580%;
    width: 100%;
}

.containFimbackground2 img{
    margin:0;
    padding:0;
    position: absolute;
    left:0;
    top: 395%;
    width: 100%;
}




/*--------------------------------Construcao.html-------------------------------------------------------------------------------------------*/


.MainConstrucao{
    position: absolute;
    padding-right: 20vw;
    padding-left: 20vw;
}

.SeparadorConstrucao img{
    position: relative;
    align-items: center;
    height: auto;
    width: 100%;
    bottom:auto;
    top: 50%;
    right: 28%;
}

.ConstrucaoFundo img{
    position: absolute;
    top: 150%;
    width:70%;
    right:28%;
}

.ConstrucaoTexto{
    position: absolute;
    text-align: center;
    width:40%;
    height:502%;
    top:215%;
    left:auto;
    right: 44%;
    font-size: calc( 8px + (17 - 16) * (100vw - 400px) / (800 - 400));
}

.SeparadorFimConstrucao img{
    position: absolute;
    align-items: center;
    height: auto;
    width: 50%;
    bottom:auto;
    left: auto;
    top: 400%;
    right:38%;
}




/*  ----------------------  PERSONAGENS ---------------------------------------------------------------------------------------------------------------------------------*/

.SeparadorPersonagens img {
  position: relative;
    height: auto;
    width: 50%;
    bottom:auto;
    top: 50%;
    left:25%;
}

.LizaBlack {
    position: relative;
    padding-right: 20vw;
    padding-left: 20vw;
    top: 100%;
    bottom:auto;
    height: auto;
}

.SamuraiGirl img {
  position: absolute;
  height: auto;
  width: 20%;
  right:20%;
  bottom:auto;
  top: 115%;
}

.TextoLiza {
  position: absolute;
    justify-content:flex-start;
    font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
    top: 113%;
    width: 34%;
    right: 50%;
}

.Darius {
  position: absolute;
  padding-right: 20vw;
  padding-left: 20vw;
  top: 150%;
  bottom:auto;
  height: auto;
}

.ImagemDarius img {
  position: absolute;
  border-radius:10px;
  height: auto;
  width: 60%;
  left:40%;
  bottom:auto;
}

.TextoDarius {
  position: absolute;
  justify-content:flex-start;
  font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
  left:140%;
  width: 60%;
  height:auto;
}

.VioletVermillion {
  position: absolute;
  padding-right: 20vw;
  padding-left: 20vw;
  top: 218%;
  bottom:auto;
  height: auto;
}

.ImagemViolet img {
  position: absolute;
  border-radius:10px;
  height: auto;
  width: 45%;
  left:145%;
  bottom: auto;
}

.TextoViolet {
  position: absolute;
  justify-content:flex-start;
  font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
  left: 55%;
  width: 60%;
  height:auto;
}

.Takeda {
  position: absolute;
  padding-right: 20vw;
  padding-left: 20vw;
  top: 290%;
  bottom:auto;
  height: auto;
}

.ImagemTakeda img {
  border-radius:10px;
  position: absolute;
  height: auto;
  width: 50%;
  left: 60%;
  bottom:auto;
}

.TextoTakeda {
  position: absolute;
  justify-content:flex-start;
  font-size: calc( 4px + (17 - 16) * (100vw - 400px) / (800 - 400));
  left: 150%;
  width: 60%;
  height:auto;
}


.TheEnd{
    position: relative;
    width: 100%;
    height:100%;
}

.containFimbackground3 img{
    margin:0;
    padding:0;
    position: absolute;
    left:0;
    top: 220%;
    width: 100%;
}

